
div{
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
}

#container {
    height: 500px;
    width: 500px;
    background-color: gray;
    position:relative;
}

#square1 {
    background-color: red;
    height: 100px;
    width: 100px;
    position:relative;
    top:0;
    left:40px;
}
#square2 {
    background-color: blue;
    height: 100px;
    width: 100px;
}
#square3 {
    background-color: green;
    height: 100px;
    width: 100px;
    position:absolute;
    top:0;
    right:0;
}
#square4 {
    background-color: black;
    height: 100px;
    width: 100px;
} 

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
} 