button#PlayPause {
	width: 200px;
	height: 200px;
	border: 1px solid #ddd;
	border-radius:4px;
	background-color: #fff;
	box-shadow: 0 5px 10px 0 #666;


}

button#PlayPause.paused {

 background-image: url(images/video-play-3-xxl.png);
 background-size: contain;

}

button#PlayPause.playing {

 background-image: url(images/pause-xxl.png);
 background-size: contain;

}