@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

* { font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle; }

body { background:#222;  }


main {
  display:block;
  position:relative;
  width:30rem;
  margin:3vh auto;
  padding:1.5rem 0 0;
 /* background:#d5d5d5; WAS THIS */
   background:#F4F3F3;

  border-radius:.25rem;
  overflow:hidden;
  transform:scale(.75);
  transform-origin:center 3rem;
  transition:transform .3s;
}
 

img {


overflow:hidden;
  transform-origin:center 3rem;
  transition:transform .3s;
  max-width: 100%;
 
}

body:hover main {
 /* transform:scale(1);*/
}

/* header {
  position:absolute;
  z-index:0;
  top:0; left:0; right:0;
  height:10rem;
  transition:transform .5s, opacity .3s;
 /* background: url("topimage.png");  center center;
   background: url(images/topimage.png) no-repeat center center fixed; 
  
background: url('images/topimage.png');
 background-size:cover;
}*/

input, .card {
  position:relative;
  z-index:2;
}

div .spacebuffer {
 display:block;
 position: absolute;
 margin-top: 0px;

  background-image: url(../images/topimage.png);  border: 0px solid black;
/*  height: 400px;
  z-index:2;
  width:26rem;
  margin:4.5rem 1rem 2rem;
  border:400px;
  padding:.75rem 1rem;
  transition:.5s, margin-bottom .15s;*/
}


input {
  display:block;
  width:26rem;
  margin:4.5rem 1rem 2rem;
  border:0;
  font-size:1.2rem;
  padding:.75rem 1rem;
  border-radius:3px;
  box-shadow:0 1px 2px #aaa;
  transition:.5s, margin-bottom .15s;
}

input:focus {
  margin:0 1rem 1rem;
  outline:0;
}

input:focus + header {
  transform:translate3d(0,-10rem,0);
  opacity:0;
}

.card {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;



}
.card:nth-child(even){
  animation-name:fly-in-from-right;
  animation-delay:1.1s;
 transform-origin:top right;
}

@keyframes fly-in-from-left {
  from {
    transform:translateY(15rem) rotate(15deg);
    opacity:0;
  }
}

@keyframes fly-in-from-right {
  from {
    transform:translateY(15rem) rotate(-15deg);
    opacity:0;
  }
}

.card:after {
  position:absolute;
  font-size:.9rem;
  top:1.5rem;
  right:1rem;
  content:"i";
  border:thin solid gray;
  color:gray;
  width:1rem;
  line-height:1rem;
  text-align:center;
  border-radius:50%;
  pointer-events:none;
}

h1 {
  font-size:2rem;
  font-weight:200;
}
  strong {
    font-weight:300;
    color:#539D00;
  }

h2 {
  font-size:.9rem;
  line-height:2.5;
  color:gray;
  font-weight:400;
}

.map {
  height:12rem;
  background:whitesmoke;
  margin:.5rem 0 0 -1.5rem;
  width:28rem;

}



body {
 background: #ccc;   
}

div.spacebetweenquestions {
overflow: hidden;
min-height: 1000px;

}

.flip {
  -webkit-perspective: 800;
/*   width: 400px;
   height: 200px;*/
    position: relative;
    margin: 50px auto;
}

/* Make an INCORRECT FLIP OPTION*/
.incorrect {
  -webkit-perspective: 800;
/*   width: 400px;
   height: 200px;*/
    position: relative;
    margin: 50px auto;
}

.flip .card.flipped {
margin-top:250px;
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
/*  width: 100%;
  height: 100%;*/
    float: bottom;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
/*  width: 100%;
  height: 100%;*/
/*  position: absolute;*/
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
/*    position: absolute;*/
  z-index: 0;
    background: white;
    color: black;
    cursor: pointer;
}
.flip .card .back {
  float: top;
  -webkit-transform: rotatex(-180deg);
    background: green;
    color: black;
    cursor: pointer;
}

.incorrect .card.flipped {

  -webkit-transform: rotatex(-180deg);
}
.incorrect .card {
/*  width: 100%;
  height: 100%;*/
    float: bottom;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.incorrect .card .face {
/*  width: 100%;
  height: 100%;*/
/*  position: absolute;*/
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.incorrect .card .front {
/*    position: absolute;*/
  z-index: 0;
    background: white;
    color: black;
    cursor: pointer;
}
.incorrect .card .back {
  float: top;
  -webkit-transform: rotatex(-180deg);
    background: red;
    color: black;
    cursor: pointer;
}
