body {background:black;}

p {
  color: red;

}


div {
  background:yellow;
}


.comments {
background:green;

}


#special {
  background: white;
  font-weight: bold;
  color: #64Fe2e;
}

#dolphin {
  color: #00400F;

}

.first {
  font-size: 40px;
  color: red;
}

.second {
  border: 10px solid white;
  
}

.parent {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}


#child {

  font-size: 50px;
}