
body {
  
background: red;

}
p {
  color: orange;
}
div {

  /*color: black;
  border-width: 1px;
  border-style: solid;
  border-color:black;*/
/*
This will do all of the above in just one line*/

  border:1px solid black;
}

footer {

  background:grey;
}

.comments {

  
  font-weight: bold;
  color:#64fe2e;
}

.rainbow1 {

  background:red;
}

#dolphin {
  font-style: italic;
  color: #0040ff
}


.whatever {

font-size: 40px;

}

.whateveryouwant {

color: pink;


}
.important {
color:yellow;

}

li {

  text-align: center;
}

li.why {
  font-family: sans-serif;
}

li#not {
  font-family: serif;
}

ul {
  background: pink;
}

/*.listblack {

  background:black;
}*/
