body{
  background-color: orange;
}

}

p {
  color:blue;
}

div {
  border-width:1px;
  border-style:solid;
  border-color: black;
}

.comments{
  font-weight: bold;
  color: #64FE2E;
}

#dolphin{
  font-style:italic;
  font-color:#0040FF;
}

.first{
  font-size:40px;
}
.second{
  color:pink;
}

li{
  text-align:center;
}

li.why{
  font-family:sans-serif;
}

li#not{
  font-family: serif;
}