

/*First homework

Instagram: ;










*/
div {

margin:0 auto;
padding:10px;
border:1px solid black;

}


#container {
   height: 500px;
    width: 500px;
    background-color: gray;
    position: relative;

}


#square1 {
    background-color: red;
    height: 100px;
    width: 100px;
position: absolute;
right:0px;
top: 0px;


}
#square2 {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0px;
}
#square3 {
    background-color: green;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left:0px;
}
#square4 {
    background-color: black;
    height: 100px;
    width: 100px;
    right: 0px;
} 
/*
.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}*/

.floatleft {

  float: right;
}